#imageGallery {
    margin-left: 80px;
    border-width: 2px solid;
    border-color: #4aaaae;
}

#stageQandI {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    font-weight: bolder;


}

body
{
	
	
	background-image:linear-gradient(rgba(33,1,22,.73),rgba(11,12,0,.65)), url(../images/chaseField.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;

	
}

.panel, 
.navbar,
.jumbotron 
{
	background-color: lightgreen;
	font-weight: bolder;
}
#choicesZero,
#choicesOne,
#choicesTwo,
#choicesThree{
	background-color: white;
	color: red;
	font-weight: bolder;
}

html {
	font-weight: 450;
	font-size: 20px;
	text-rendering: optimizeLegibility;

}
#startitup {
	margin:50px 100px;
	position: relative;
	top: 75px;
	bottom: 75px;
	left: 15%;
	
}